* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.maxContainer {
    margin: auto;
    max-width: 1400px;
    transition: max-width 0.1s;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 28px;
}

@media (max-width: 1400px) {
    .maxContainer {
        max-width: 1200px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .maxContainer {
        max-width: 992px;
    }
    /* Adjust font sizes for this range as needed */
}

@media (max-width: 992px) {
    .maxContainer {
        max-width: 768px;
    }

    /* Adjust font sizes for this range as needed */
}

@media (max-width: 768px) {
    .maxContainer {
        max-width: 576px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .maxContainer {
        max-width: unset;
    }

    /* Adjust font sizes for this range as needed */
}